// NUCLEOS ------------------------------------
.content_menu_01 {
  // .filter {
  //   position: absolute;
  //   z-index: 2;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: 0;
  //   background-color: rgba(0, 0, 0, 0.75);
  //   backdrop-filter: grayscale(90%);
  // }
  // .content {
  //   position: relative;
  //   z-index: 1;
  // }
  & div {
    transition: all 0.3s ease-out;
  }
  .nucleos-menu {
    ul {
      padding: 0;
      list-style: none;
      @include mobile {
        margin: 0;
        padding: 0;
      }
    }
    li {
      margin-bottom: 16px;
      transition: all 0.3s ease-out;
      position: relative;
    }

    li:not(.display1) {
      font-weight: 700;
      font-family: $font-02;
      font-size: $h3-fontsize;
      color: var(--brown);
    }
    li.selected {
      font-size: $h2-fontsize;
      color: var(--yellow);
      -webkit-text-stroke: 2px var(--brown);

    }
    li.selected::before {
      content: ".";
      display: block;
      position: absolute;
      left: -24px;
      top: -16px;
      @include mobile {
        font-size: $h2-fontsize;
      }
    }
    li:hover {
      cursor: pointer;
      color: var(--yellow);
      text-shadow: 2px 2px 0px var(--brown);
      -webkit-text-stroke: 2px var(--brown);

    }

    @include mobile {
      transform: scale(0.5);
    }
  }

}
