@import "materialize/materialize.scss";

// MY COMPONENTS ------------------------------------

// Navbar
@import "components/_navbar.scss";

// Hero
@import "components/_hero.scss";

// Concluir
@import "components/concluir";

// Box Attention
@import "components/box-attention";

// Footer
@import "components/footer";

@import "components/loading";

@import "components/carousel";

@import "components/collapsible";

@import "components/content_menu_02";

@import "components/image-map";
@import "components/video-box";
@import "components/game-fase";

// Helpers
@import "components/helpers";



// Geral ------------------------------------

:root {
  --navbar-height: 70px;
}

// Font Icons
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 40;
}

// Icones Material Design
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
html {
  scroll-behavior: smooth;
}

u {
  padding-bottom: 1px;
  border-bottom: 3px solid var(--md-sys-color-tertiary);
  text-decoration: none;
}

.btn {
  border-radius: 9px;
  background-color: var(--yellow);
  color: var(--brown);
  transition: all 0.25s;

  &-large {
    border-radius: 9px;
    padding-top: 3px;
  }
  &.text {
    color: var(--brown);
    font-weight: 700;
    &:hover {
      color: var(--brown);
    }
  }
  &-game {
    background-color: var(--yellow);
    border: 2px solid var(--brown);
    box-shadow: 3px 3px 0px 0px #3b2027,
      0px -3px 0px 0px var(--yellow-dark) inset,
      0px 3px 0px 0px var(--yellow-light) inset;
    border-radius: 4px;
    font-family: $font-02;
    padding: 12px 16px;
    font-size: 19px;
    color: var(--brown);

    &:hover {
      background-color: var(--yellow-dark);
      background-image: linear-gradient(var(--yellow-dark), var(--yellow-dark));
      box-shadow: 3px 3px 0px 0px #3b2027,
        0px -3px 0px 0px var(--yellow-dark) inset,
        0px 3px 0px 0px var(--yellow-light) inset;
    }

    &--gray {
      background-color: #ccd6bf;
      background: linear-gradient(#f5ffe8, #ccd6bf);
      box-shadow: 0px -3px 0px 0px #babbc8 inset,
        0px 3px 0px 0px #ffffff99 inset;

      &:hover {
        background-color: var(--yellow);
        background-image: linear-gradient(var(--yellow), var(--yellow));
        box-shadow: 3px 3px 0px 0px #3b2027,
          0px -3px 0px 0px var(--yellow-dark) inset,
          0px 3px 0px 0px var(--yellow-light) inset;
      }
    }
  }
}

// Container
.container {
  max-width: 1180px;
  width: 90%;
}
.container--medium {
  margin: 0 auto;
  max-width: 780px;
  width: 90%;
}

// Para o menu não cobrir o elemento
.scrollspy {
  scroll-margin-top: 100px;
}

.scale-transition.scale-out {
  height: 0 !important;
  opacity: 0;
  transition: all 0.2s;
}
.scale-transition.scale-in {
  height: auto !important;
  opacity: 1;
}

.scale-out {
  height: 0 !important;
  opacity: 0;
  transition: all 0.2s;
}
.scale-in {
  height: auto !important;
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 18px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  border-radius: 0px;
  background: rgb(226, 225, 222); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--yellow); /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
  border: 3px solid var(--brown); /* creates padding around scroll thumb */
  width: 10px;
}

body {
  background-color: var(--blue-02);
  overflow-x: hidden;
  cursor: url("../img/core/cursor.svg"), auto;
}

.circle {
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: center center;
}

.pointer {
  cursor: url("../img/core/pointer.svg"), pointer !important;
}

// ESTRUTURA  ------------------------------------

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.floatKeyf {
  animation: float 3.5s ease-in-out infinite;
}

.star-bg {
  background-image: url("../img/star-bg.png");
  background-repeat: repeat-x;
  position: relative;
  background-position: center center;
}



section {
  overflow-x: hidden;
}
.game-divisor {
  width: 100%;
  @include mobile {
    width: auto;
  }
}

// ----------------------------------------------------------



// ------------------------------------
// Tratamento Aula específica
// ------------------------------------

// <!-- >FESTIVAL SESI DE ROBÓTICA ------------------------------------>
#festival {
  background: url("../img/sky-02.png") center 82% / contain no-repeat;
  overflow-y: hidden;
  .zero-gap {
    .row {
      gap: 0 !important;
    }
  }

  @include mobile {
    background: none;
  }
}

.question-btn {
  width: 37px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/question-btn-off.png");
  &:hover {
    background-image: url("../img/question-btn-on.png");
  }
}

// <!-- OFICINAS ------------------------------------>
.box-txt-01 {
  background-color: var(--yellow-light);
}
.box-txt-02 {
  background-color: var(--yellow-dark);
}

.cards {
  .card-reveal {
    background-color: var(--yellow);
    border: none;
    .card-title {
      display: flex;
    }
  }
  .card {
    padding: 0;
  }
  .card-image img {
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    @include tablet {
      height: 250px;
    }
  }
}
#fll {
  background: url("../img/cloud.png") 105% 20%/330px no-repeat,
    url("../img/cloud.png") 5% 100%/330px no-repeat, var(--blue-03);
  @include tablet {
    background: url("../img/cloud.png") 105% 20%/330px no-repeat,
      url("../img/cloud.png") -10% 95%/330px no-repeat, var(--blue-03);
  }
}
#ftc {
  background-image: url("../img/floor-ftc.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

#frc {
  background: url("../img/cloud.png") -3% 55%/330px no-repeat, var(--blue-03);
}

#f1 {
  background: url("../img/cloud.png") 101% 35%/330px no-repeat,
    url("../img/floor-f1.png") center bottom/contain no-repeat, var(--blue-03);
  @include tablet {
    background: url("../img/floor-f1.png") center bottom/contain no-repeat,
      var(--blue-03);
  }
}
// <!-- PLATAFORMAS EDUCACIONAIS ------------------------------------>
#plataformas {
  position: relative;
  z-index: 2;
  margin-top: -3px;
}
// <!-- PRÉ JOGO ------------------------------------>

#missao {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.icons-reveal {
  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 105px;
    height: 105px;
    min-width: 105px;
    min-height: 105px;
    background-color: var(--yellow);
    background-image: linear-gradient(#f5ffe8, #ccd6bf);
    border: 2px solid var(--brown);
    box-shadow: 0px -3px 0px 0px #babbc8 inset, 0px 3px 0px 0px #ffffff99 inset;

    border-radius: 4px;

    transition: all 0.3s;
    img {
      max-width: 40px;
    }

    &:hover {
      background-color: var(--yellow);
      background-image: linear-gradient(#f5ffe800, #ccd6bf00);

      box-shadow: 3px 3px 0px 0px #3b2027,
        0px -3px 0px 0px var(--yellow-dark) inset,
        0px 3px 0px 0px var(--yellow-light) inset;
      cursor: pointer;
    }
  }
  .flex--justify-center {
    @include mobile {
      flex-wrap: wrap;
    }
  }
}
.tip > p {
  color: #fff !important;
  font-size: 13.5px !important;
  font-family: $font-stack;
}

.display-style {
  color: var(--yellow);
  text-shadow: 2px 2px 0px var(--brown);
  -webkit-text-stroke: 0px var(--brown);
}
